<h1><%= @vendor.name %></h1>
<p>contact info:</p>
<p>name: <%= @vendor.contact_name %></p>
<p>phone: <%= @vendor.contact_phone %></p></br>
<p>credit accepted: <%= @vendor.credit_accepted ? 'Yes' : 'No' %></p></br>
<p>description: <%= @vendor.description %></p>